/* Add a black background color to the top navigation */

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

font-family: 'Noto Serif';

}
.topnav {
    background-color:  	#556B2F;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
fieldset{
	width:35%;
	font-size:125%;
}
#myMap{
    position:fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 520px;
	max-width: none;
	border: 30;
	frameborder: 40;
}
/*#myMap{
	position: absolute;
	top:60%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 520px;
	max-width: none;
	border: 30;
	frameborder: 40;
}*/
#Search{
	height:500%;
}
#About{

	align: right;
    text-align: left;
	font-size:200%;
	height:50%;
	width:50%;
}
img{
	width: 520px;
	position: absolute;
    left: 0px;
    top: 950px;
}
input[type="button"]{
    background-color: #556B2F; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	box-shadow: 0 2px #999;
	border-radius: 15px;
}
input[type="submit"]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	box-shadow: 0 2px #999;
	border-radius: 15px;
}
.radio-option {
    cursor: pointer;
    height: 23px;
    width: 23px;
    background: url(../images/checkbox2.png) no-repeat 0px 0px;
}

.radio-option.click {
    background: url(../images/checkbox1.png) no-repeat 0px 0px;
}
