body {
     background-image: url("image/greenn.jpg");
	 background-size: 1400px 1200px;
	 background-repeat: no-repeat;
	 color: green;
	 font-weight: bold;
} 
table{
	width:100%;
}
#myMap{
   position:fixed;
	margin: 0;
	padding: 0;
	width: 650px;
	height: 520px;
	max-width: none;
	border: 30;
	frameborder: 40;
}
#frame-container {
    background-color: #607D8B;
    position: relative;
    height: 100%;
    width: 100%;
    border:50px solid red;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
input[type="button"]{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
	box-shadow: 0 2px #999;
	border-radius: 15px;
}
label{
	font-size: 120%;
}
input[type=textbox]{
    width: 	17%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: content-box;
	border: 3px solid #555;
}

input[type="text"]{
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: content-box;
	border: 3px solid #555;
}
h1{
	font-weight: bold;
	size: 200px;
}
#start{
	color: blue;
}
h3{
	color: black;
	font-weight: bold;
}
strong{
	color: black;
}
#travelMode{
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   background-color: #eec111; 
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.radio-option {
    cursor: pointer;
    height: 23px;
    width: 23px;
    background: url(../images/checkbox2.png) no-repeat 0px 0px;
}

.radio-option.click {
    background: url(../images/checkbox1.png) no-repeat 0px 0px;
}